{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<div class="auth-page">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p class="auth-help mt-2" style="color: green; text-align: center">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <h1 class="mb-4 auth-heading"><span>~/</span>login<span class="terminal-cursor"></span></h1>

    <div class="auth-card">
      <form  id="loginForm" method="POST" action="{{ url_for('main.login') }}">
        {{ form.hidden_tag() }}
        <div class ="auth-panel">
          <p class="auth-msg">$ login <span>--authenticate</span></p>

          <div class="mb-3">
            {{ form.usernameEmail.label(class="auth-label form-label") }}
            {{ form.usernameEmail(class="form-control auth-input", autocomplete="username", required=True) }}
          </div>

          <div class="mb-4">
            {{ form.password.label(class="auth-label form-label") }}
            {{ form.password(class="form-control auth-input", autocomplete="current-password", required=True) }}
          </div>

          <div class="mb-4 d-flex align-items-center gap-2"> 
            {{ form.remember(class="auth-checkbox") }}
            {{ form.remember.label(class="auth-label form-label mb-0") }}
          </div>
          {% if login_error %}
            <p class="auth-help mt-2" style="color: red ;text-align: center">{{ login_error }}</p>
          {% endif %}
          {{ form.loginSubmit(class="auth-button") }}
        </div>
      </form>
      <div class="auth-footer mt-4"> 
        <p>New user? <a href="{{ url_for('main.signup') }}">Register</a></p> 
        <p>Forgot password? <a href="{{ url_for('main.reset_request') }}">Reset</a></p> 
      </div>
    </div>  
</div>
{% endblock %}
