{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">

    <h2 class="mb-4 auth-heading">~/Login<span class = "terminal-cursor"></span></h2>

    <div class="auth-card">
      <form  id="loginForm" method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <div class ="auth-panel">
          <p class="auth-msg">$ login <span>--authenticate</span></p>

          <div class="mb-3">
            {{ form.usernameEmail.label(class="auth-label form-label") }}
            {{ form.usernameEmail(class="form-control auth-input", autocomplete="username", required=True) }}
            {% if form.usernameEmail.errors %}
                <span class="auth-help mt-2" style="color: red">{{ form.usernameEmail.errors[0] }}</span>
            {% endif %}
          </div>

          <div class="mb-4">
            {{ form.password.label(class="auth-label form-label") }}
            {{ form.password(class="form-control auth-input", autocomplete="current-password", required=True) }}
            {% if form.password.errors %}
                <span class="auth-help mt-2" style="color: red">{{ form.password.errors[0] }}</span>
            {% endif %}
          </div>

          <div class="mb-4 d-flex align-items-center gap-2"> 
            {{ form.remember(class="auth-checkbox") }}
            {{ form.remember.label(class="auth-label form-label mb-0") }}
          </div>

          {{ form.submit(class="auth-button") }}
        </div>
      </form>
      <div class="auth-footer mt-4"> 
        <p>New user? <a href="{{ url_for('signup') }}">Register</a></p> 
        <p>Forgot password? <a href="/reset">Reset</a></p> 
      </div>
    </div>  
  </div>
</div>
{% endblock %}
